wifi_ssid: your wifi ssid
wifi_password: your wifi password

ap_password: password to connect to this device in setup mode

mqtt_broker: your mqtt broker IP address
mqtt_username: mqtt user
mqtt_password: mqtt password

